
body {
  background: linear-gradient(red, blue, yellow); 
  color: white; 
  font-size: 30px;
  
  } 

.topbar { 
  font-family: 'Montserrat' ;
  background-color: #0d1117;
  padding: 10px 100px;
  margin: 200px;
}

